@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

*{
    font-family:'Dongle';
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 0.5%;
}
p{
    margin-left: 4%;
    margin-right: 1%;
}
h1{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 1%;
}
div{
    font-size: 18px;
    position: relative;
    height: 75px;
    width: 800px;
    margin-bottom: 2%;
}
#container{
    position: relative;
    overflow: hidden;
}
#orange{
    background-color: orange;
    align-items: center;
    display: flex;
    position: relative;
    margin-left: 100%;
    animation: moveRight 3s forwards;
}
#amarillo{
    background-color: palegoldenrod;
    align-items: center;
    display: flex;
    margin-left: 100%;
    animation: moveRight 3s forwards;
}
#pink{
    background-color: pink;
    align-items: center;
    display: flex;
    margin-left: 100%;
    animation: moveRight 3s forwards;
}
@keyframes moveRight {
    to{
        margin-left: 0;
    }
}