@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

*{
    font-family:'Mulish';
    font-weight: 400;
    margin: 0%;
    padding: 0;
}
body{
    width: 100%;
    margin-bottom: 1%;
    margin: 3%;
}
p{
    margin: 3%;
    font-size: 18px;
    text-align: center;
}
h1{
    font-weight: 700;
    color: #0a2ff1;
    font-size: 90px;
    margin-bottom: 3%;
}
h2{
    font-weight: 700;
    font-size:24px;
    text-align: center;
}
#container{
    position: relative;
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
    width: 20%;
    margin: 0.5%;

}    
#tarjetas{
   width: 100%;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
   flex-wrap: wrap;

}
img{
    width: 100%;
}

